{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky - Index{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
</div>
<div class="page-container">
    <h1>{% if name %}
            {% if email and 'utoronto' in email %}
                {{ name }}, your UofT email is {{ email }}.
            {% else %}
                Please enter a valid UofT Email Address.
            {% endif %}
        {% endif %}
    </h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
